@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500;600&display=swap");

html,
body {
    font-family: "Poppins", "sans-serif";
    background-color: #ffffff;
}

/*Nav Bar*/

.navbar {
    background-color: #091d36;
}

.navbar-logo {
    padding-left: 1em;
}
.navbar img {
    border-radius: 25px;
}
.navbar-nav li {
    padding-right: 2em;
    color: #000000;
}

.navbar-nav a {
    letter-spacing: 0.15em;
    font-size: 1.25em;
}

.nav-link:hover {
}

/*Dropdown Menu*/

.dropdown-show {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 1.1rem;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown-show:hover .dropdown-menu {
    display: block;
}

/*Footer*/

footer {
    background-color: #332965;

    color: #d5d5d5;
    padding-top: 2rem;
    font-weight: 500;
    font-size: 16px;
}

footer a {
    color: #d5d5d5;
}

.contact,
.address {
    text-align: center;
    font-size: 14px;
}

.form {
    padding-left: 3em;
    padding-right: 7em;
}

.col-lg-6 > h5 {
    font-size: 14px;
}

.bottom {
    background-color: #2a2a2a;
    text-align: center;
    padding-top: 0.75em;
    height: 5em;
    font-size: 12px !important;
}

.btn {
    font-size: 12px;
    text-decoration: none;
}

/*Media Queries for Footer*/

@media (max-width: 793px) {
    .bottom {
        height: 7em;
    }
}

@media (max-width: 432px) {
    .bottom {
        height: 9.5em;
    }
}
