@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    font-family: 'Poppins', 'sans-serif';
    background-color: #FFFFFF;
}

/*Nav Bar*/

.navbar{
    background-color: #091D36;
}

.navbar-logo {
    padding-left: 1em;
}

.navbar-nav li {
    color: #000000;
    display: inline-block;
    float: left;
}

.navbar-nav a {
    font-size: 1.1em;
}

.nav-link {
    float: left;
}
.nav_element{
    display: inline-block;
    float: left;
}

/*Dropdown Menu*/

.dropdown-show {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown-show:hover .dropdown-menu {
    display: block;
}
/*About Section*/
.about {
    background-color: #091D36;
    display: inline-block;
    width: 70%;
    margin-top: -22.5%;
}

.about__container {
    row-gap: 2rem;
    text-align: center;
   
}

.about__subtitle {
    margin-top: 0%;
    margin-bottom: var(--mb-2);
    font-weight: 600;
    color: #fff;
    padding: 2% 0;
}

.about p {
    color: #fff;
    padding: 0 5rem;
    padding-bottom: 2rem;
}

.about__img {
    justify-self: center;
    display: inline-block;
}
ourmission_txt {
    padding-bottom: 2rem;
}
    .about__img img {
        width: 140px;
        border-radius: .5rem;
        
    }
.section-title {
    padding:2rem;
}
/*Footer*/
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

    footer a {
        color: #d5d5d5;
    }

.contact, .address {
    padding-right: 4em;
    text-align: center;
}

.form {
    padding-left: 3em;
    padding-right: 7em;
}

.bottom {
    margin-bottom: -2%;
    background-color: #2A2A2A;
    text-align: center;
    padding-top: 0.75em;
    height: 5em;
    
}

/*Media Queries for Footer*/

@media (max-width: 793px) {

    .bottom {
        height: 7em;
    }
}

@media (max-width: 432px) {

    .bottom {
        height: 9.5em;
    }
}

h1 {
    font-family: Verdana;
    font-variant: small-caps;
    width: 100%;
    color: #091D36;
    padding: 1.5%;
}

h3 {
    font-family: Verdana;
    color: #3a3b42;
    font-size: 70%;
}

/*Cards*/

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #091D36;
}

.card-column {
    width: 33.33333%;
    background: #091D36;
    position: relative;
    z-index: 0;
    transition: transform .4s ease;
}

.card-inner {
    text-align: center;
    padding: 24px 12px;
    box-shadow: 0px 1px 16px rgba(163, 80, 234, 0.25);
}

    .card-inner h3 {
        font-size: 25px;
        font-weight: 500;
        margin: 0;
        margin-top: 24px;
    }

    .card-inner span {
        font-size: 14px;
        font-weight: 500;
        transform: translateY(10px);
    }

.social {
    transition: opacity .4s ease, transform .4s ease;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
}

.card-column:hover .social {
    opacity: 1;
    visibility: visible;
    transform: translate(0px);
}

.card-column:hover {
    transform: scale(1.05);
    z-index: 1;
}

.social i {
    padding: 8px;
}

.member img {
    border-radius: 50%;
    width: 200px;
    overflow: auto;
    resize: both;
}

.user img {
    width: 200px;
    overflow: auto;
    resize: both;
}

@media screen and (max-width: 1110px) {

    .card-column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .card-column {
        width: 90%;
        margin: 0 auto;
    }
}

#top {
    margin: 1.5%;
    resize: both;
    background: #5E83BA;
    width: 25%;
    border: 1px solid #5E83BA;
    border-radius: 5px;
    overflow: auto;
    resize: both;
}

#bottom {
    margin: 1.5%;
    resize: both;
    background: #5E83BA;
    width: 27%;
    margin-left: 8%;
    border: 1px solid #5E83BA;
    border-radius: 5px;
    overflow: auto;
    resize: both;
}

.card-wrap {
    width: 100%;
    overflow: auto;
    resize: both;
    padding-left: 7.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}


h2 {
    width: 100%;
    display: block;
    font-family: Arial;
    font-size: 180%;
    text-align: center;
    color: white;
}

.postholders {
    text-align:center;
    padding-bottom:2rem;
    background-color: white;

}



.member-info {
    color:white;
}