@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
    font-family: "Poppins", "sans-serif";
    background-color: #ffffff;
}

/*Nav Bar*/

.navbar {
    background-color: #091d36;
}

.navbar img {
    border-radius: 25px;
}

.navbar-logo {
    padding-left: 1em;
}

.navbar-nav li {
    color: #000000;
    display: inline-block;
    float: left;
}

.navbar-nav a {
    font-size: 1.1em;
}

.nav-link {
    float: left;
}

.nav_element {
    display: inline-block;
    float: left;
}

/*Dropdown Menu*/

.dropdown-show {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown-show:hover .dropdown-menu {
    display: block;
}
/*About Section*/

.about {
    height: 80vh;
    background-color: white;
    display: inline-block;
    width: 70%;
    float: left;
}

.about__container {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.about_txts {
    text-align: center;
}

.about__subtitle {
    font-size: 36px;
    color: #332965;
    margin-top: 0%;
    margin-bottom: var(--mb-2);
    font-weight: 600;
    padding: 2% 0;
}

.about p {
    font-size: 18px;
    margin: auto;
    color: #52468b;
    width: 70%;
    padding: 0 5rem;
    padding-bottom: 2rem;
    text-align: justify;
}

.about__img {
    margin: 0.5em;
    top: 0;
    position: absolute;
    justify-self: center;
    display: inline-block;
}

.about__img img {
    object-fit: contain;
    width: 200px;
    border-radius: 0.5rem;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
}
.section-title {
    padding: 2rem;
}
/*Footer*/
footer {
    background-color: #332965;
    color: #d5d5d5;
    padding-top: 2rem;
}

footer a {
    color: #d5d5d5;
}

.contact,
.address {
    padding-right: 4em;
    text-align: center;
}

.contact h3 {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 11px;
}

.form {
    padding-left: 3em;
    padding-right: 7em;
}

.member-info p {
    color: #ffffff;
}

.member__title {
    color: #ffffff;
}

/* .bottom {
    margin-bottom: -2%;
    background-color: #2A2A2A;
    text-align: center;
    padding-top: 0.75em;
    height: 5em;
    
} */

/*Media Queries for Footer*/

@media (max-width: 793px) {
    .bottom {
        height: 7em;
    }
}

@media (max-width: 432px) {
    .bottom {
        height: 9.5em;
    }
}

h1 {
    font-family: Verdana;
    font-variant: small-caps;
    width: 100%;
    color: #091d36;
    padding: 1.5%;
}

h3 {
    font-family: Verdana;
    color: #3a3b42;
    font-size: 70%;
}

/*Cards*/

.card-wrap {
    display: flex;
    flex-wrap: wrap;
}

.card-inner {
    margin: 2em;
    background: #ffffff;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.11);
    border-radius: 14px;
    text-align: center;
}

.card-inner h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    margin-top: 24px;
}

.card-inner span {
    font-size: 14px;
    font-weight: 500;
    transform: translateY(10px);
}

.social {
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
}

.card-column:hover .social {
    opacity: 1;
    visibility: visible;
    transform: translate(0px);
}

.card-column:hover {
    transform: scale(1.05);
    z-index: 1;
}

.social i {
    padding: 8px;
}

.member img {
    border-radius: 50%;
    width: 200px;
    overflow: auto;
    resize: both;
}

.user img {
    width: 200px;
    overflow: auto;
    resize: both;
}
.carousel {
    max-height: 290px;
    object-fit: contain;
    overflow: hidden;
    margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
    .card-column {
        width: 90%;
        margin: 0 auto;
    }
    #top,
    #bottom {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .card-wrap {
        display: flex;
        padding: 5%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-column {
        width: 33.333%;
    }
}
#top {
    margin: 1.5%;
    resize: both;
    background: #f7f7f7;
    overflow: auto;
    resize: both;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.6);
}

#bottom {
    margin: 1.5%;
    resize: both;
    background: #f7f7f7;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.6);
    overflow: auto;
    resize: both;
}

.card-wrap {
    width: 100%;
    height: 100vh;
}

h2 {
    width: 100%;
    display: block;
    font-family: Arial;
    font-size: 180%;
    text-align: center;
    color: white;
}

.postholders {
    font-family: "Proza Libre", sans-serif;
    color: #413964;
    clear: both;
    text-align: center;
    padding-bottom: 2rem;
    background-color: white;
}

.member-info {
    background: #332965;
    border-radius: 0 0 14px 14px;
    color: #ffffff;
    width: 100%;
    padding: 1em;
}

@media (max-width: 767px) {
    #about {
        width: 100%;
        float: none;
    }
}
