h1{
    font-family:Verdana;
    font-variant:small-caps;
    width:100%;
    color: white;
    padding:1.5%;
    text-align: center;
}
h3{
    font-family:Verdana;
    color: #091D36;
    font-size:40%;
}
.navbar{
    background-color: #091D36;
}


 /*Cards*/

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-column {
    width: 33.33333%;
    background: #fff;
    position: relative;
    z-index: 0;
    transition: transform .4s ease;
}

.card-inner {
    text-align: center;
    padding: 24px 12px;
    box-shadow: 0px 1px 16px rgba(163, 80, 234, 0.25);
}

.card-inner h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    margin-top: 24px;

}

.card-inner span {
    font-size: 14px;
    font-weight: 500;
    transform: translateY(10px);
}

.social {
    transition: opacity .4s ease, transform .4s ease;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
}

.card-column:hover .social {
    opacity: 1;
    visibility: visible;
    transform: translate(0px);
}

.card-column:hover {
    transform: scale(1.05);
    z-index: 1;
}

.social i {
    padding: 8px;
}

.member img {
    border-radius: 50%;
    width: 200px;
    overflow:auto;
    resize:both;
}

.user img {
    width: 200px;
    overflow:auto;
    resize:both;
}

@media screen and (max-width: 1110px) {

    .card-column {
        width: 50%;

    }

}

@media screen and (max-width: 600px) {
    .card-column {
        width: 90%;
        margin: 0 auto;
    }
}

#top{
    margin:1.5%;
    resize:both;
    background:#ffffff;
    width:25%;
    box-shadow: 0 10px 10px -5px;
    overflow:auto;
    resize:both;

}
#bottom{
  
    margin:1.5%;
    resize:both;
    background:#fff;
    width:27%;
    margin-left:8%;
    box-shadow: 0 10px 10px -5px;
    overflow:auto;
    resize:both;
}
.card-wrap{
    
    width:100%;
    overflow:auto;
    resize:both;
    padding-left:7.5%;
    padding-top:2%;
    padding-bottom:2%;

}


h2{
    width:100%;
    display:block;
    font-family:Arial;
    font-size:180%;
    text-align:center;
    color:#fff;
}

/*Table*/


body {
    height: 100%;
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #3a2c82);
	font-family: sans-serif;
	font-weight: 100;
}


table {
	width: 1110px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
    background-color: #091D36;
}

thead {
	th {
		background-color: #55608f;
	}
}

td:hover{
    background-color: rgba(255, 255, 255, 0.6);
}
a{
    color: white;
}

