*{
	margin: 0px;
	padding: 0px;
}
.content{
	width: 300px;
	margin: 20px auto;
	box-shadow: 1px 1px 10px 2px #333;
	border-radius: 5px; 
	overflow: hidden;
}
.header{
	background: #000080;
	color: white;
	padding: 15px 0px;
}

.movingbody{
	padding: 4px;
	height: 300px;
}
.m-par{
	text-align: center;
	padding: 6px;
	border-bottom: 1px solid #afafaf; 
}