@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  
  font-family: 'Poppins', 'sans-serif';
  background-color: #FFFFFF;
}

/*Nav Bar*/

.navbar-logo{

  padding-left: 1em;
}

.navbar-nav li{

  padding-right: 2em;
  color: #000000;
}

.navbar-nav a{

  letter-spacing: 0.15em;
  font-size: 1.25em;
}

.nav-link:hover {

  background-color: indigo;
  color: #E5FF00;
}

/*Dropdown Menu*/

.dropdown-show{

  position: relative;
  display: inline-block;
}

.dropdown-menu {

  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a{

  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-menu a:hover {

  background-color: #ddd;
}

.dropdown-show:hover .dropdown-menu {

  display: block;
}

/*Footer*/

footer{
background-color:#3f3f3f;
color: #d5d5d5;
padding-top: 2rem;
}

footer a{
color: #d5d5d5;
}

.contact, .address{

  padding-right: 4em;
  text-align: center;
}

.form{

  padding-left: 3em;
  padding-right: 7em;
}

.bottom{
  
  background-color: #2A2A2A;
  text-align: center;
  padding-top: 0.75em;
  height: 5em;
}

/*Media Queries for Footer*/

@media (max-width: 793px){

.bottom{
  
  height: 7em;
}

}

@media (max-width: 432px){

.bottom{
  
  height: 9.5em;
}

}